<h1>Lista de Productos</h1>

{{#each products}}

<h2>{{this.name}}</h2>
<h3>{{this.price}}</h3>
<p>{{this.description}}</p>
<h2>{{this.code}}</h2>
<h2>{{this.stock}}</h2>
<h2>{{this.image}}</h2>

{{/each}}