
<div class="container">
<h1 class="tittle">My Product List</h1>
</div>



<div class="container__products">
{{#each productslist}}


<div class="cardContainer">
<h2 class="productName">{{this.name}}</h2>
<h3> $ {{this.price}}</h3>
<p>{{this.description}}</p>
<h2>Stock:{{this.stock}}</h2>
<h2>Code: {{this.code}}</h2>
</div>


{{/each}}

</div>
