
<div class="container">
<h1 class="tittle">My Product List</h1>
</div>


<div class="container__products">
{{#each productslist}}

<h2>{{this.name}}</h2>
<h3>{{this.price}}</h3>
<p>{{this.description}}</p>
<h2>{{this.code}}</h2>
<h2>{{this.stock}}</h2>
<h2>{{this.image}}</h2>

{{/each}}

</div>
